<div>
  <span><%= best_in_place_if current_user == @user, @user, :name %></span>
</div>
<div>
  <span><%= @user.email %></span>
</div>
<div>
  <span><%= @user.provider %></span>
</div>
<div>
  <span><%= @user.encrypted_password %></span>
</div>
